<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.training.droidbountyhunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Agregar"
            android:label="@string/title_activity_agregar" />
        <activity
            android:name=".Detalle"
            android:label="@string/title_activity_detalle" />
        <activity android:name=".LogEliminacion" />
        <activity android:name=".DetalleLogEliminacion" />
        <activity android:name=".ActivityOpenGLFugitivos" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name="edu.training.services.ServicioNotificaciones" />

        <receiver android:name="edu.training.services.Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="ANDROID.INTENT.CATEGORY.HOME" />
            </intent-filter>
        </receiver>

        <service android:name="edu.training.services.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="edu.training.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="edu.training.providers.FugitivosContentProvider"
            android:authorities="edu.training.droidbountyhunter"
            android:exported="true" />

        <receiver android:name=".FugitivosWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="edu.training.droidbountyhunter.ACTUALIZAR_SEG_WIDGET" />
                <action android:name="edu.training.droidbountyhunter.ACTUALIZAR_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration" />
        </receiver>
        <service
            android:name="edu.training.services.MessengerService"
            android:process=":droid_bounty_hunter_process">
        </service>
    </application>

</manifest>